/** @format */

html,
body {
	font-family: sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
		"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden !important;
	color: #333;
}

a {
	color: inherit;
	text-decoration: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/********** Global Rules **********/
*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* fix button outline border on hover */
*:focus {
	outline: 0 !important;
}

html {
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-size: 0.9rem;
}
::-moz-placeholder {
	/* Firefox 19+ */
	font-size: 0.9rem;
}
:-ms-input-placeholder {
	/* IE 10+ */
	font-size: 0.9rem;
}
:-moz-placeholder {
	/* Firefox 18- */
	font-size: 0.9rem;
}
